:root {
    --text-main: #2C2C2C;
    --text-secn: #B4B6C1;
    --text-plch: #B4B6C1;
    --stroke-input: #EBF0FA;
    --btn-active: #00A335;
    --backg-color: #F0F0F0;
}

* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--backg-color);
    padding: 40px 60px;
}

p {
    color: var(--text-secn);
    font-size: 12px;
    margin-top: 20px
}

h1 {
    color: var(--text-main);
    margin-block-end: 35px;
    margin-block-start: 0;
    font-size: 26px;
}


.mainContainer {
    display: flexbox;
    text-align: center;
}

.headerTextContainer {
    text-align: center;
}

.loginForm {
    display: block;
    border-radius: 10px;
    padding: 20px;

}


.btn-active {
    background-color: var(--btn-active);
    cursor: pointer;
    color: var(--backg-color);
    width: 276px;
    height: 48px;
    border:none;
    border-radius: 8px;
    font-size: 16;
    margin-bottom: 40px;
    }

    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }

    input {
        width: 608px;
        height: 48px;
        padding: 0px;
        margin: 15px;
        border: 1px solid var(--stroke-input);
        border-radius: 8px;
        background-color: #FFFFFF;
    }

    input::placeholder {
        font-size: 12px;
        padding-left: 10px;
        color: var(--text-plch);
    }
