.item{
    color: whitesmoke;
    font-size: 20px;
    font-family: "Poppins";
    font-style: normal;
    text-align: left;
    line-height: 25px;
}
.image{
    font-size: 8px;
    font-family: "Poppins";
    font-style: normal;
    text-align: left;
    line-height: 25px;
}

.productImage{
    width: 650px;
    align-items: center;
    margin-bottom: 5px;
}