.navbar{
    display: flex;
    align-items:center;
    justify-content: space-between;
    color: whitesmoke;
    
}

.nav-item{
    color: whitesmoke
}

.company-logo{
    font-size: 45px;
    font-family: "Poppins";
    font-style: normal;
    color:white;
}